/* Bouton AJOUTER AU PANIER */
.bouton-ajout-panier {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    margin: 0.75em 0;
    background: $bouton-ajout-panier;
    border-radius: 20px;
}