/* Bouton AJOUTER AU PANIER + COMMANDER */
.bouton-type {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0;
    margin: 0.75em 0;
    background: $couleur-dégradée;
    border-radius: 20px;
    a {
        @include couleur-lien (white);
    }
    &--commander {
        margin: 2em 0;
        input {
            color: white;
            font-weight: bold;
            background: transparent;
            border: none;
        }
    }
}

/* Boutons QUANTITE */

.bouton-quantité {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.25em;
    font-size: 0.9em;
}

#bouton-moins, #bouton-plus {
    color: black;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    font-weight: bold;
}

#bouton-moins {
    background: $rouge-type;
}

#bouton-plus {
    background: $vert-type;
}