// Bouton AJOUTER AU PANIER + COMMANDER
.bouton-type {
    text-align: center;
    padding: 0.5em 0;
    margin: 0.75em 0;
    background: $couleur-dégradée;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    border: none;
    &--commander {
        margin: 2em 0;
    }
}

// Bouton "Supprimer cet article" (Panier)

.btn-suppr-article-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    .btn-suppr-article {
        border: none;
        background: none;
        color: $couleur3;
        text-decoration: underline;
        :hover {
            cursor: pointer;
        }
    }
}