/* Mixins génériques */

@mixin couleur-lien ($couleur) {
    color: $couleur;
}

/* Mixins FICHE PRODUIT */

@mixin cadre-fiche-produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12.25 0em;
}

@mixin tableau-ligne-1 {
    font-size: 2em;
    padding: 0.5em 0 0.5em 0.5em;
}