/* Couleurs*/
$fond-clair: #F8F9FA;
<<<<<<< HEAD
$fond-clair-2: #F2F7FC;
$fond-foncé: #bfbfbf;

=======
$fond-foncé: #bfbfbf;
>>>>>>> 9ece775e69b72ef2f9d3249f23c7ccdadf907913
$couleur1: #E8870D;
$couleur2: #8F5BFE;

$couleur-dégradée: linear-gradient(to bottom right, #E8870D, #8F5BFE);

$vert-type: #00B050;
$rouge-type: #FF3B3B;