/* Couleurs*/
$fond-clair: #F8F9FA;
$fond-clair-2: #F2F7FC;
$fond-foncé: #bfbfbf;

$couleur1: #E8870D;
$couleur2: #8F5BFE;
$couleur3: #9DC3E6;

$couleur-sucess: #2ecc71;
$couleur-error: #e74c3c;

$couleur-dégradée: linear-gradient(to bottom right, #E8870D, #8F5BFE);

$vert-type: #00B050;
$rouge-type: #FF3B3B;