footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .ligne-pied-de-page {
        display: flex;
        padding: 1em 0em;
        font-size: 1.15em;
        .col-4 {
            text-align: center;
        }
    }
}