.section-produits {
    display: flex;
    justify-content: center;
    border: 0.5px #d9d9d9 solid;
    margin: 1em 0 1em 0;
    .titre-section-produits {
        h2 {
            text-align: center;
            margin: 1.25em 0 1.25em 0;
        }
    }
    #liste-produits {
        display: flex;
        justify-content: center;
        .col-3 {
            margin-bottom: 1.55em;
        }
    }
}