.img-produit {
    margin: 14.5em 0;
    border-radius: 0px 165px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

.desc-produit {
    @include cadre-fiche-produit;
    h2 {
        font-size: 1.75em;
        font-weight: bold;
    }
}

.achat-produit {
    @include cadre-fiche-produit;
}

.prix {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}