#tableau-panier {
    margin: 10em auto 2em auto;
    display: flex;
    justify-content: center;
    .tableau-premiere-ligne {
        display: flex;
        justify-content: center;
    }
}

.tableau-ligne {
    &--1, &--finale {
        background: $fond-clair;
        font-weight: bold;
    }
    &--finale {
        min-height: 4em;
    }
    &--x {
        margin: 1em 0 0 0;
    }
    &--coordonnées {
        width: 35%;
        margin: 1em 0 0 auto;
        text-align: center;
        font-size: 1.5em;
        padding: 0.5em 0 0.5em 0.5em;
    }
    .mon-panier {
        @include tableau-ligne-1;
    }
    .img-produit-panier {
        img {
            width: 100%;
        }
    }
    .caract-produits {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .alt-text {
        text-align: center;
        padding: 6em 0;
        .alt-text-link {
            color: $couleur3;
            text-decoration: underline;
        }
    }
}

.catégorie-tableau {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    padding: 0.5em 0.5em;
}



