#tableau-confirmation-commande {
<<<<<<< HEAD
    margin: 10em 0 15em 0;
=======
    margin: 5em 0 15em 0;
>>>>>>> 9ece775e69b72ef2f9d3249f23c7ccdadf907913
    .tableau-ligne--1 {
        background: $fond-clair;
        font-weight: bold;
        .commande-confirmée {
            @include tableau-ligne-1;
        }
    }
    .message-commande-confirmée {
        padding: 3em 0;
    }
}